/* ----------- FONTS ----------- */
@font-face {
  font-family: "Brandon Text Regular";
  src: url("fonts/BrandonText-Regular.otf") format("woff");
}
@font-face {
  font-family: "Brandon Text Bold";
  src: url("fonts/BrandonText-Bold.otf") format("woff");
}
@font-face {
  font-family: "Brandon Text Light";
  src: url("fonts/BrandonText-Light.otf") format("woff");
}
@font-face {
  font-family: "Brandon Text Thin";
  src: url("fonts/BrandonText-Thin.otf") format("woff");
}

/* --------- VARIABLES -------- */
:root {
  --main-font: "Brandon Text Regular", sans-serif;
  --link-font-size: 14px;

  --light-beige: #eff0ea;
  --dark-beige: #e3e5d7;
  --light-blue: #3e4657;
  --dark-blue: #2a3141;
  --yellow: #ffff00;
}
* {
  font-family: var(--main-font);
  margin: 0;
}

/* --------- TOP NAV -------- */
#topNavigation,
#bottomNavigation {
  background-color: var(--light-beige);
  margin: 10px;
  box-shadow: 0 2px 10px rgba(226, 225, 225, 0.2);
  z-index: 999999;
}
#topNavigation {
  position: fixed;
  width: -webkit-fill-available;
}
.logo {
  width: 60px;
  height: 60px;
}
#navBar {
  display: flex;
  align-items: center;
  margin: 5px;
}
.navBarContent {
  display: flex;
  margin-inline-start: auto;
}
#navBar a {
  color: #000;
  font-family: var(--main-font);
  font-size: var(--link-font-size);
  text-transform: uppercase;
  text-decoration: none;
  margin: 10px;
}
#navBar a:hover {
  border-bottom: 4px solid var(--dark-blue);
}
input {
  outline: none;
}
input[type="search"] {
  font-family: inherit;
  font-size: 100%;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
  display: none;
}
input[type="search"] {
  background: #ededed
    url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat
    9px center;
  border: solid 1px var(--dark-blue);
  padding: 9px 10px 9px 32px;
  border-radius: 10em;
  transition: all 0.5s;
}
input[type="search"]:focus {
  width: 130px;
  background-color: #fff;
  border-color: var(--dark-blue);
  /* box-shadow: 0 0 5px rgba(109, 207, 246, 0.5); */
}
input:-moz-placeholder {
  color: #999;
}
input::-webkit-input-placeholder {
  color: #999;
}
#searchBar input[type="search"] {
  width: 15px;
  color: transparent;
  cursor: pointer;
  margin-right: 20px;
}
#searchBar input[type="search"]:hover {
  background-color: #fff;
}
#searchBar input[type="search"]:focus {
  width: 200px;
  padding-left: 32px;
  color: #000;
  background-color: #fff;
  cursor: auto;
}
#searchBar input:-moz-placeholder {
  color: transparent;
}
#searchBar input::-webkit-input-placeholder {
  color: transparent;
}

/* --------- HERO SECTION -------- */
.banner {
  width: 40%;
  height: auto;
  position: absolute;
  top: 280px;
  left: 430px;
}

/* --------- IMAGES -------- */
.heroImg,
.tourImg1,
.tourImg2 {
  width: 100%;
  height: auto;
}

/* --------- SECTIONS -------- */
#intro,
#tours,
#gallery,
#faqInfo {
  background: #2a3141;
  color: #fff;
  margin: 0;
  text-align: center;
}

/* --------- INTRO -------- */
.introTitle {
  text-transform: uppercase;
  padding-top: 70px;
}
.introText {
  font-family: "Brandon Text Light";
  padding: 30px 300px 70px 300px;
}

/* --------- TRIPS -------- */
#tripArea {
  display: inline-flex;
}
.wheel {
  width: 80px;
  height: auto;
  margin: 40px;
}
#singleTripArea {
  display: grid;
  align-items: center;
  max-width: fit-content;
  margin: 20px 25px 0 0px;
  transition: transform .5s;
}

#singleTripArea:hover,
#singleTripArea:focus {
  transform: scale3d(1.050, 1.050, 1);
}
.tripTitle {
  font-size: 16px;
  text-align: center;
  font-family: "Brandon Text Light";
  margin: 20px 0;
}
.tripText {
  font-family: "Brandon Text Light";
  margin: 20px 0;
  text-align: justify;
}
.duration {
  margin-bottom: 20px;
  font-size: 12px;
  font-family: "Brandon Text Bold";
}
#trips {
  margin: 0;
  text-align: center;
  margin: 50px;
}
.tripImg {
  width: 250px;
}

.readMoreTrip {
  justify-self: self-end;
  margin-bottom: 20px;
  background-color: white;
  color: var(--dark-blue);
  border: solid 1px var(--dark-blue);
}
/* trip table */
#tableHeader {
  display: flex;
  width: 250px;
  justify-content: space-between;
  color: white;
  background-color: var(--dark-blue);
}

#bottle_of_wine,
#glass_of_wine,
#beer {
  flex-direction: row;
  display: flex;
  place-content: space-between;
}

#summerWinter p {
  padding: 10px;
}

#totalPrice {
  background-color: var(--light-beige);
  min-width: -webkit-fill-available;
}

#totalPrice p {
  padding: 10px;
}

#tripSection {
  position: relative;
  display: inline-flex;
}

#tableGuide {
  align-self: flex-end;
}

#tableGuide p {
  padding: 10px 50px;
}

#tableGuide :nth-last-child(-n+2){
  background-color: var(--light-beige);
}

.iconSize {
  width: 20px;
  height: 20px;
}
/* --------- TOURS -------- */
#tourArea {
  display: inline-flex;
  margin: 50px 0 100px 0;
}
.corona-guidelines {
  text-transform: uppercase;
  margin: 30px 500px;
  color: var(--yellow);
  border: 1px solid var(--yellow);
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}
.anchor {
  width: 80px;
  height: auto;
  margin-top: 30px;
}

#singleTourArea {
  display: flex;
  margin: 40px;
  flex-direction: column;
  align-items: center;
  max-width: fit-content;
  border: 1px solid var(--dark-blue);
  border-radius: 10px;
  box-shadow: 0 3px 10px 3px #000;
  color: black;
  background-color: white;
  transition: transform .5s;
}

#singleTourArea:hover,
#singleTourArea:focus {
  transform: scale3d(1.050, 1.050, 1);
}

.tourTitle {
  padding: 20px;
  font-family: "Brandon Text Thin";
}
.tourText {
  font-family: "Brandon Text Light";
  padding: 20px;
  padding-top: 0;
  text-align: justify;
}
#tours {
  padding-top: 10px;
}
.tourImg {
  width: 350px;
}
/* -------- WEATHER ------- */
#weather {
  text-align: center;
  margin: 50px 0;
}
#weather h3,
#weather h4,
#weather img {
  margin: 10px 0;
}
/* -------- GALLERY ------- */
#galleryArea {
  display: flex;
  padding: 100px 20px;
}
#gallery img {
  width: 280px;
  height: 240px;
}

/* display only the first 6 images for now, until we build the gallery */
#singleGalleryImg:nth-child(n + 6) {
  display: none;
}

/* --------- BOTTOM NAV -------- */
#bottomNavigation {
  display: flex;
  grid-template-columns: repeat(4, 1fr);
  padding: 30px;
}
#bottomNavigation p {
  font-size: 14px;
}
#bottomNavigation h5 {
  text-transform: uppercase;
  font-size: 12px;
}

/* --------- FAQ ---------- */
#faq {
  padding: 50px 300px;
}
#faqInfo {
  padding: 200px 0 80px 0;
}
.faqTitle {
  padding-top: 0;
  text-transform: uppercase;
}
.faqDescription {
  font-family: "Brandon Text Light";
  padding: 30px 300px 20px 300px;
}
#compass {
  margin: 20px 0 60px 0;
}
.compass {
  width: 80px;
  height: auto;
  display: block;
  margin: auto;
}
.faqQuestion {
  cursor: pointer;
}
.faqAnswer {
  display: none;
}
.oneQuestion {
  padding: 10px;
  border: 1px solid var(--dark-blue);
  margin: 10px 0;
}
.accordionActive,
.faqQuestion:hover {
  background-color: var(--dark-blue);
  color: #fff;
}

/* BOOKING */
/* -------- BOOK BTN -------- */
.bookingArea {
  position: fixed;
}
#bookBtn {
  background: var(--yellow);
  border: none;
  cursor: pointer;
  position: inherit;
  padding: 15px 25px;
  border-radius: 5px;
  top: 55%;
  width: 180px;
  transform-origin: left 50px;
  transform: rotate(-90deg);
  text-transform: uppercase;
  font-size: 11px;
}
.overlay {
  width: 0;
  position: inherit;
  /* top: 95px; */
  top: 10px;
  bottom: 0;
  right: 0;
  /* background-color: rgba(255, 255, 255, 0.9); */
  background-color: #fff;
  transition: 0.8s;
}
.showOverlay {
  width: 50%;
  height: 100%;
}
.overlay-content {
  position: relative;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}
hr {
  border: 1px solid lightgray;
  margin: 140px 50px 20px 50px;
}
.bookingSteps h6 {
  margin: 0 30px;
  text-transform: uppercase;
  display: inline-block;
}
form,
.orderOverview,
.receipt {
  margin-left: 50px;
}
label {
  font-size: 12px;
  text-align: left;
  text-transform: uppercase;
  display: block;
  margin: 20px 0 10px 0;
}
input,
select {
  display: block;
  padding: 5px;
  width: -webkit-fill-available;
  margin-right: 50px;
}
p.landmarks,
p.hidden-gems,
p.diana {
  text-align: left;
  font-size: 14px;
}
p.landmarks::before,
p.hidden-gems::before,
p.diana::before {
  content: "ℹ";
  margin-right: 5px;
  color: var(--light-blue);
}

/* ------------ booking buttons ----------- */
.previous,
.next,
#expandFaq {
  text-transform: uppercase;
  padding: 10px 30px;
  background: var(--dark-blue);
  border: none;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
}
.previous {
  margin-right: 55%;
  /* margin-top: 100px; */
}
.next {
  margin-right: 0;
  /* margin-top: 0px; */
}
/* ------------ booking forms ----------- */
.show {
  display: none;
}
.availability {
  margin: 100px 0 0 50px;
}
/* ------------ custom validation ----------- */
.valid {
  border: 2px solid green;
}
.invalid {
  border: 2px solid red;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.error {
  text-transform: initial;
  margin-bottom: 20px;
  margin-top: -1px;
  border: 2px solid red;
  padding: 4px;
  z-index: 10;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  display: none;
}
